ALLOWED_HOSTS=127.0.0.1,localhost
DEBUG=False

# EMAIL
EMAIL_HOST=mail.betopiagroup.com
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
FROM_EMAIL=

#

PROD_DB_NAME=
PROD_DB_USER=
PROD_DB_PASS=
PROD_DB_HOST=
PROD_DB_PORT=5432